<!DOCTYPE html>
<html>
    <head>
        <title>つけっぱなし防止</title>
        <script>
            const updateHuman = async(url, element) => {
                const sensorData = await fetch(url)
                    .then(response => response.text())
                const target = document.getElementById(element);
                
                const colors = [
                    "cyan",
                    "chartreuse",
                    "magenta",
                    "yellow",
                ];
                if(sensorData > 5) {
                    target.innerHTML = `<h1>画面を切って下さい！</h1>`;
                    document.body.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                }
                else {
                    target.innerHTML = `<h1>PCの前に人を検知しています。</h1>`;
                    document.body.style.backgroundColor = "white";
                }
            }

            // 自動更新
            function doReload() {
                window.location.reload();
            }
            window.addEventListener('load',function(){
                setTimeout(doReload, 1000);
            });
        </script>
    </head>
    <body onLoad="updateHuman('/human','data')">
        <center>
            <div id = "data"></div>
        </center>
    </body>
</html>