<!DOCTYPE html>
<html>
    <head>
        <title>つけっぱなし防止</title>
        <script>
            const updateHuman = async(url, element) => {
                const sensorData = await fetch(url)
                    .then(response => response.text())
                const target = document.getElementById(element);
                
                let ad = new Audio("./Warning.mp3");
                ad.volume = 1;
                if(sensorData > 5) {
                    target.innerHTML = `<h1>画面を切って下さい！</h1>`;
                    ad.play();
                }
                else {
                    target.innerHTML = `<h1>PCの前に人を検知しています。</h1>`;
                    ad.pause();
                }
            }

            // 自動更新
            function doReload() {
                window.location.reload();
            }
            window.addEventListener('load',function(){
                setTimeout(doReload, 1000);
            });
        </script>
    </head>
    <body onLoad="updateHuman('/human','data')">
        <center>
            <div id = "data"></div>
        </center>
    </body>
</html>